e/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */

body {
    font-family: 'Open Sans', sans-serif;
}

/* Utilities */

.img {
    max-width: 100%;
}

.flex {
    display: flex;
}

.container-90 {
    width: 90%;
    margin: 0 auto;
}

.container-80 {
    width: 80%;
    margin: 0 auto;
}

.col-50 {
    width: 50%;
}

.space-between {
    justify-content: space-between;
}

.margin-top2rem {
    margin-top: 2rem;
}

.margin-top1rem {
    margin-top: 1rem;
}

/* HEADER */
header {
    height: 100px;
    background-color: #0084FD;
    color: white;
    align-items: center;
}

header .menu {
    display: none;
}

/* Media Queries */

/* For desktop */
@media screen and (min-width:992px) {
    header .menu {
        display: block;
    }
    header .menu ul {
        display: flex;
        list-style-type: none;
        gap: 1rem;
    }

    header .menu a {
       text-decoration: none;
       color: white;
    }

    header .hamburger {
        display: none;
    }
}

/* MAIN */

.card {
    /* debug */
    height: 500px;
    background-color: lightblue;
    border-radius: 30px;
}

.row1 {
    flex-direction: column;
}

/* Media Queries */

/* For tablets */
@media screen and (min-width:768px) {
    /* Layout */
    .col-66 {
        width: calc(100%);
    }
    .col-33 {
        width: calc(100%);
    }
    .col-66 {
        width: 66%;
    }
    .col-33 {
        width: 33%;
    }
    .row1 {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

/* Planning section */

.planning {
    /* debug */
    background-color: blueviolet;
    margin-top: 2rem;
}


/* Media Queries */

/* For desktop */
@media screen and (min-width:992px) {
   .container-90  {
    display: flex; 
    }

    .strategic {
        width: 50%;
    }

    .app-dev {
        width: 50%
    }
}

/* Testimonals Section */
.testimonial-card:not(.intro) {
    width: 100%;
    /* debug */
    background-color: aquamarine;
}
.testimonial-card .intro {
    width: 100%;
}

.testimonials .container-90 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.testimonial-card img {
    /* debug */
    width: 300px;
    height: 100%;
    border-radius: 50%;
}

.testimonials {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Media Queries */

/* For tablets */
@media screen and (min-width:768px) {
    /* Layout */
   
    .testimonial-card:not(.intro) {
        display: flex;
    }
}

.testimonial-name {
    /* debug */
    color: red;
}