/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */

body {
    font-family: 'Open Sans', sans-serif;
}

/* Utilities */

.img {
    max-width: 100%;
}

.flex {
    display: flex;
}

.container-90 {
    width: 90%;
    margin: 0 auto;
}

.container-80 {
    width: 80%;
    margin: 0 auto;
}

.col-50 {
    width: 50%;
}

.space-between {
    justify-content: space-between;
}

.margin-top2rem {
    margin-top: 2rem;
}

.margin-top1rem {
    margin-top: 1rem;
}

.pt2rem {
    padding-top: 2rem;
}


/* HEADER */
header {
    height: 100px;
    background-color: #0084FD;
    color: white;
    align-items: center;
}

header .menu {
    display: none;
}

.menu .btn-header {
    background-color: White;
    color: black;
    padding: 0.5rem;
    display: inline-block;
    text-decoration: none;
    border-radius: 30px;
}

/* Media Queries */

/* For desktop */
@media screen and (min-width:992px) {
    header .menu {
        display: block;
        
    }
    header .menu ul {
        display: flex;
        align-items: center;
        list-style-type: none;
        gap: 1rem;
       
    }

    header .menu a {
       text-decoration: none;
       color: white;
    }

    header .hamburger {
        display: none;
    }

    .menu .btn-header {
        background-color: White;
        color: black;
        padding: 0.5rem;
        text-decoration: none;
        border-radius: 30px;
    }

}

/* MAIN */

.card {
    /* debug */
    background-color: #B5DDFF;
    border-radius: 30px;
    padding: 1.5rem;
    margin: 0.5rem;
}

.row1 {
    flex-direction: column;
}

.card-image img {
    width: 300px;
    display: block;
}

.card-text {
    line-height: 1.8rem;
    padding-bottom: 1rem;
    text-align: center;
}

.card-text-title {
    color: #0084FD;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    text-align: center;
}

.btn {
    background-color: #0084FD;
    color: white;
    padding: 0.5rem 3rem;
    display: inline-block;
    text-decoration: none;
    border-radius: 30px;
}

.card-logo {
    color: #0084FD;
    font-size: 100px;
    margin: 0 auto;
    display: table;
    padding-bottom: 1rem;
}

.card-particular .card-text-title  {
    text-align: left;
}

.card-particular .card-text  {
    text-align: left;
}
.card-particular .card-text .btn {
    text-align: left;
}

/* Media Queries */

/* For tablets */
@media screen and (min-width:768px) {
    /* Layout */
    .col-66 {
        width: calc(100%);
    }
    .col-33 {
        width: calc(100%);
        display: flex;
    }
    .col-66 {
        width: 66%;
    }
    .col-33 {
        width: 33%;
    }
    .row1 {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

/* For desktop */
@media screen and (min-width:992px) {
    .card-particular  {
     display: flex; 
     }
     /* Layout */
     .col-66 {
        width: 66%;
        display: flex;
    }
 }


/* Planning section */
.planning {
    /* debug */
    background-color: #9792E4;
    margin-top: 2rem;
    padding-bottom: 3rem;
}

.strategic {
    color: white;
}
.strategic img {
    width: 300px;
}

h3 {
    padding-bottom: 2rem;
    padding-top: 4rem;
}

.app-dev {
    background-color: white;
    border-radius: 30px;
    margin-top: 2rem;
    margin-bottom: 3rem;
    text-align: center;
}

.app-dev img {
    width: 270px;
}

.arrow {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

#arrow-down {
    background-color: #9792E4;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: #9792E4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    text-align: center;
}

/* Media Queries */

/* For desktop */
@media screen and (min-width:992px) {
   .container-90  {
    display: flex; 
    }

    .strategic {
        width: 50%;
    }

    .app-dev {
        width: 50%;
        margin-top: 7rem;
        margin-bottom: 0.5rem;
    }
}

/* Testimonals Section */

h2 {
   color: #9792E4;
   margin-top: 2rem;
   margin-bottom: 2rem;
}

.testimonial-card:not(.intro) {
    width: 100%;
    background-color: #9792E4;
    border-radius: 40px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
    padding: 1rem;
}
.testimonial-card .intro {
    width: 100%;
}

.testimonials .container-90 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.testimonial-card img {
    /* debug */
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.testimonials {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.testimonial-card-text {
    padding-bottom: 2rem;
}

.testimonial-name {
    padding-top: 2rem;
}

/* Media Queries */

/* For tablets */
@media screen and (min-width:768px) {
    /* Layout */
   
    .testimonial-card:not(.intro) {
        display: flex;
    }

    .testimonial-card-text {
        text-align: left;
        padding-left: 1rem;
        padding-top: 1.5rem;
    }
}



/* Benefits section*/

.benefits {
    background-color: #9792E4;
}

.benefits-card {
    margin-top: 1rem;
    background-color: white;
}

/* Media Queries */

/* For tablets */
@media screen and (min-width:768px) {
    /* Layout */
    .benefits-card {
        width: 50%;

    }

    .benefits .container-90 {
        display: flex;
        flex-wrap: wrap;
    }

}

/* For desktop */
@media screen and (min-width:992px) {
    /* Layout */
    .benefits-card {
        width: 33%;
    }

    .benefits .container-90 {
        display: flex;
        flex-wrap: wrap;
    }

}
